body {
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: Arial;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #1f2933;
    padding: 20px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    width: 100%;
    padding: 8px;
    background: #00adb5;
    border: none;
    margin-top: 10px;
}

#resultBox {
    background: #111;
    padding: 10px;
    margin-top: 10px;
}
